# Heap corruption detection (maximum)
# CONFIG_HEAP_POISONING_DISABLED is not set
# CONFIG_HEAP_POISONING_LIGHT is not set
CONFIG_HEAP_POISONING_COMPREHENSIVE=y

# Compiler stack protection (strong)
# CONFIG_COMPILER_STACK_CHECK_MODE_NONE is not set
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y

# Avoid interrupt WDT timeouts during heavy heap integrity checks (debug)
CONFIG_ESP_INT_WDT_TIMEOUT_MS=1000

# WAMR memory profiling
CONFIG_WAMR_ENABLE_MEMORY_PROFILING=y

# Heap tracing
CONFIG_HEAP_TRACING_STANDALONE=y
